
// colors
// colors
$darkGreen: #0d47a1; // ???? ???? - ???? ????? $darkBlue
$green: #1976d2; // ???? ????? - ???? ???? $blue
$lightGreen: #64b5f6; // ???? ????
$veryLightGreen: #e3f2fd; // ???? ???? ???? (?????)
$darkGrey: #4a4a4a; // ????? ???? - ???? ????
$white: #ffffff;
$lightGrey: #f5f5f5; // ????? ???? ????


// font family
// font family
$fontFamily: "Poppins", sans-serif;
$lightFont: 600;
$heavyFont: 800;


// fonts
$logoFont: calc(1.25 * 31.42px);
